.gradle
gradle.properties.local
/build
**/build
.cxx
**/.cxx
*.log
logs/
**/logs/
local.properties
*.iml
.idea
.DS_Store
captures
*.apk
*.aab
*.class
key.properties
keystore.properties
upload-keystore.jks
*.jks
*.keystore
.kotlin/
